


<h1><font color = "036ffc">Twitter Clone</font></h1>
<p>
  This is the home page for the <a href="http://www.twitter.com">twitter</a> clone.
  I am testing to see if this makes a new line in HTML. If not I will have to <br>
  learn how to do it. Did I learn how to do it? I will have to see once I apply<br>
  these changes. Does it look funky?<br>It does look funky.
</p>
