<!DOCTYPE html>
<html>
  <head>
    <title>Home | Twitter clone</title>
  </head>
  <body>
    <h1>Twitter Clone</h1>
    <p>
      This is the home page for the <a href="http://www.twitter.com">twitter</a> clone
    </p>
  </body>

</html>
